:root {
    /* font families (Ubuntu) */
    --font-sans: 'Ubuntu Light', sans-serif;
    --font-mono: 'Ubuntu Mono', monospace;

    /* color palette (One Dark) */
    --color-yellow: #E5C07B;
    --color-cyan: #56B6C2;
    --color-blue: #61AFEF;
    --color-orange: #D19A66;
    --color-purple: #C678DD;
    --color-green: #98C379;
    --color-red: #E06C75;

}

:root {
    /* force dark theme */
    color-scheme: dark;

    /* global styles */
    background: linear-gradient(135deg, #1a1b1e, #222327);
}

div#app {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

div.canvas-container {
    width: 1920px;
    height: 1080px;
}
